@import "../../colors.scss";

$menubar-height: 30px;
$menuelements-min-width: 270px;

.MenuBar {
  display: flex;
  flex-direction: row;
  height: $menubar-height;

  background-color: $main-background;
  color: $off-white;

  &:focus {
    outline: none;
  }

  .MenuItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;

    cursor: default;
    user-select: none;

    &:hover, &:focus, &.open {
      color: $off-white-solid;
      background-color: $main-background-bright;
    }

    &:focus {
      outline: none;
    }

    .MenuElements {
      min-width: $menuelements-min-width;
      position: absolute;
      display: none;

      top: $menubar-height;
      left: 0;
      background-color: $main-backgroun-dark;

      &.open {
        display: flex;
        flex-direction: column;
      }

      &.side {
        position: absolute;
        top: -8px;
        left: 100%;
      }

      &:focus {
        outline: none;
      }

      .MenuElement {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 1px 8px;
        padding: 2px 20px;

        &:first-child {
          margin-top: 8px;
        }

        &:hover, &:focus, &.open {
          background-color: $select-bold-background;
        }

        .ElementText {
          flex-grow: 1;
        }

        .SubElementsPre, .SubElementsPost {
          font-size: 1.1em;
        }

        .SubElementsPre {
          margin-left: -1.1em;
          margin-right: 2px;
        }

        .SubElementsPost {
          margin-right: -10px;

          &.text {
            font-size: 1em;
          }
        }

        &:focus {
          outline: none;
        }
      }

      hr.Separator {
        margin: 0 10px 10px;
        border: none;
        border-bottom: 1px solid $off-white;
      }
    }
  }
}