$main-background: rgb(50, 50, 50);
$main-background-bright: rgba(255, 255, 255, 0.1);
$main-backgroun-dark: rgb(25, 25, 25);

$off-white: rgba(204, 204, 204, .6);
$off-white-solid: rgba(204, 204, 204, 1);

$select-bold-background: rgba(0, 150, 255, .4);